:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #5bb8fc;
  text-decoration: none;
}
a:hover {
  text-shadow: 0 0 5px #4074a1, /* Inner glow */ 0 0 10px #4074a1,
    /* Medium glow */ 0 0 20px #4074a1, /* Outer glow */ 0 0 30px #4074a1; /* Larger outer glow */
  color: white;
}

html,
body,
#root {
  width: 100%;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: inherit;
  display: inline-block;
  background-color: transparent;
  color: #5bb8fc;
  text-decoration: none;
  border: 2px solid #5bb8fc;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  text-shadow: 0 0 5px #4074a1, /* Inner glow */ 0 0 10px #4074a1,
    /* Medium glow */ 0 0 20px #4074a1, /* Outer glow */ 0 0 30px #4074a1; /* Larger outer glow */
  background-color: #4074a1;
  color: white;
  border-color: #4074a1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
